name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: 1.18.4
          otp-version: 27.0

      - name: Install dependencies
        run: |
          mix deps.get
          mix deps.compile

      - name: Run tests
        run: mix test --include slow

      - name: Run dialyzer
        run: mix dialyzer
